 <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/img/banner.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbspGBERAJ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre.html">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="patrono.html" tabindex="-1" aria-disabled="true">Patrono</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cover.html" target="_blank" tabindex="-1" aria-disabled="true">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="servicos.html" tabindex="-1" aria-disabled="true">O que oferecemos?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="formulario.php" tabindex="-1" aria-disabled="true">Associe-se</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" data-bs-toggle="modal" data-bs-target="#agendaModal" aria-disabled="true">Reservas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="conveniencia.html" tabindex="-1" aria-disabled="true">Echo Bravo!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="assets/docs/estatuto.pdf" target="_blank" tabindex="-1" aria-disabled="true">Estatuto do clube</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>